/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.landing-page-container {
  text-align: center; /* Centers the title */
  height: 100vh;        /* Makes the container take full viewport height */
  display: flex;
  flex-direction: column;  /* Arranges content in a column  */
  justify-content: center; /* Centers content vertically  */
  align-items: center;     /* Centers content horizontally */
}

.form-wrapper {
  /* You might want additional styles to space the input and button */
}
.entities-page-wrapper {
  position: relative;
  min-height: 100vh; /* Ensure the wrapper fills the entire viewport */

}
.indent-button {
  margin-left: 10px; /* Adjust as needed */
}
.name-display {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.clan-page {
  display: flex; /* Make the container a flexbox for easier layout */
  flex-direction: column; /* Stack elements vertically by default */
  min-height: 100vh; /* Set minimum height to fill viewport */
  justify-content: space-between; /* Vertically distribute content with space between */
}

.leave-button-container {
  position: absolute; /* Position the button absolutely to place it freely */
  top: 10px; /* Set top margin from the edge */
  right: 10px; /* Set right margin from the edge */
}
.button-container {
  position: fixed;
  left: 20px; /* Adjust this value to set the distance from the left side */
  bottom: 20px; /* Adjust this value to set the distance from the bottom */
  z-index: 1000; /* Ensure the button appears on top of other content */
}
.edit-section {
  display: flex; /* Make the edit section a flexbox to arrange forms horizontally */
  flex-direction: row; /* Arrange elements side-by-side */
  justify-content: center; /* Horizontally center the forms */
  align-items: center; /* Vertically center the forms */
  margin-top: auto; /* Push the section down vertically */
}

.edit-section form {
  margin-right: 20px; /* Add space between forms */
}

.edit-section form:last-child {
  margin-right: 0; /* Remove margin for the last form */
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;  /* Ensure it's on top */
}