/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.landing-page-container {
  text-align: center; /* Centers the title */
  height: 100vh;        /* Makes the container take full viewport height */
  display: flex;
  flex-direction: column;  /* Arranges content in a column  */
  justify-content: center; /* Centers content vertically  */
  align-items: center;     /* Centers content horizontally */
}

.form-wrapper {
  /* You might want additional styles to space the input and button */
}
.entities-page-wrapper {
  position: relative;
  min-height: 100vh; /* Ensure the wrapper fills the entire viewport */

}
.indent-button {
  margin-left: 10px; /* Adjust as needed */
}
.name-display {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}